body {
  background-color: #fff;
  width: 100%;
  color: #707d9d;
}

nav {
  background-color: #fff;
  .row {
    border-bottom: 0.01em solid #eee;
    padding:  0 5%
  }
  .nav {
    height: 100%;
    margin: 0 auto;
    .nav-item {
      margin: 0 0.01em;
      padding: 0.1em 0.3em;
      height: 50%;
      .nav-item {
        margin: 0 0.01em;
        padding: 0.1em 0.3em;
        height: 50%;
      }
      a {
        margin:0.3em 0;
        color: #707d9d;
        font-weight: 500;
        text-transform: capitalize;
      }
      .nav-link{
        padding: 0.5em
      }
      input {
        margin: 0.8em 0;
        background-color: #fcfdff;
        border: 1px solid #6870ff;
        border-radius: 0 0.5em 0 0;
        color: #6870ff;
        outline: 0;
      }
    }
  }
  .top-about {
    background-color: #fcfdff;
    border-bottom: 0.01em solid #eee;
  }
  .social {
    padding: 0 5%;
  }
}

header {
  padding: 10em !important;
  .stripe {
    border: 2px solid #f26b16;
    margin-left: 0.938em;
  }
}
.main-hd {
  background-color: #fafbfb;
  background-image: url(img/main-header-bg.png);
  background-repeat: no-repeat;
  background-position: right;
  height: 30.750em;

}
.about-hd{
  background-color: #fff;
  background-image: url(img/header-bg.png);
  background-repeat: no-repeat;
  background-position: right;
  height: 30.750em;

}

article {
  margin: 10em 0;
  font-size: 1.1em;
  line-height: 1.938em;
  color: #303a5f;
  h1{
    font-size: 1.5em;
    margin:1em 0 1.3em 0;
  }
  h2 { font-size: 1em;}
  h4 {
    text-transform: uppercase;
    font-size: 1em;
    margin-top: 0.5em;
  }
  .first-article, .second-article {
    width: 90%;
    margin: 3em auto;
    border: none;
  }
  .first-article {
    img {
    padding-left: 0 !important;
    }
  }
  .second-article {
    padding-right: 17em;
  }
  .about-article {
    width: 70%;
    margin: 5em auto;
    img {
      width: 100%
    }
  }
  .text-muted {
    color: #d3d3d3;
    font-size: 0.8em;
    margin: 0 0 4em;
  }
  .news-article{
    width: 90%;
    margin: 0 auto;
    img {
      width: 100%;
      height: 100%;
    }
    h3{
      text-transform: capitalize;
    }
    h1 {
      font-size: 3.625em;
      margin: 0 0 0.5em;
    }
    h2{
      margin-bottom: 1em;
    }
    .mrg {
      margin: 3em 0;
    }
    .text, h4 {
      width: 75%;
      margin: 0 auto;
    }
  }
}
