body {
  background-color: #fff;
  width: 100%;
  color: #707d9d;
}
nav {
  background-color: #fff;
}
nav .row {
  border-bottom: 0.01em solid #eee;
  padding: 0 5%;
}
nav .nav {
  height: 100%;
  margin: 0 auto;
}
nav .nav .nav-item {
  margin: 0 0.01em;
  padding: 0.1em 0.3em;
  height: 50%;
}
nav .nav .nav-item .nav-item {
  margin: 0 0.01em;
  padding: 0.1em 0.3em;
  height: 50%;
}
nav .nav .nav-item a {
  margin: 0.3em 0;
  color: #707d9d;
  font-weight: 500;
  text-transform: capitalize;
}
nav .nav .nav-item .nav-link {
  padding: 0.5em;
}
nav .nav .nav-item input {
  margin: 0.8em 0;
  background-color: #fcfdff;
  border: 1px solid #6870ff;
  border-radius: 0 0.5em 0 0;
  color: #6870ff;
  outline: 0;
}
nav .top-about {
  background-color: #fcfdff;
  border-bottom: 0.01em solid #eee;
}
nav .social {
  padding: 0 5%;
}
header {
  padding: 10em !important;
}
header .stripe {
  border: 2px solid #f26b16;
  margin-left: 0.938em;
}
.main-hd {
  background-color: #fafbfb;
  background-image: url(img/main-header-bg.png);
  background-repeat: no-repeat;
  background-position: right;
  height: 30.750em;
}
.about-hd {
  background-color: #fff;
  background-image: url(img/header-bg.png);
  background-repeat: no-repeat;
  background-position: right;
  height: 30.750em;
}
article {
  margin: 10em 0;
  font-size: 1.1em;
  line-height: 1.938em;
  color: #303a5f;
}
article h1 {
  font-size: 1.5em;
  margin: 1em 0 1.3em 0;
}
article h2 {
  font-size: 1em;
}
article h4 {
  text-transform: uppercase;
  font-size: 1em;
  margin-top: 0.5em;
}
article .first-article,
article .second-article {
  width: 90%;
  margin: 3em auto;
  border: none;
}
article .first-article img {
  padding-left: 0 !important;
}
article .second-article {
  padding-right: 17em;
}
article .about-article {
  width: 70%;
  margin: 5em auto;
}
article .about-article img {
  width: 100%;
}
article .text-muted {
  color: #d3d3d3;
  font-size: 0.8em;
  margin: 0 0 4em;
}
article .news-article {
  width: 90%;
  margin: 0 auto;
}
article .news-article img {
  width: 100%;
  height: 100%;
}
article .news-article h3 {
  text-transform: capitalize;
}
article .news-article h1 {
  font-size: 3.625em;
  margin: 0 0 0.5em;
}
article .news-article h2 {
  margin-bottom: 1em;
}
article .news-article .mrg {
  margin: 3em 0;
}
article .news-article .text,
article .news-article h4 {
  width: 75%;
  margin: 0 auto;
}
